/* apply a natural box layout model to all elements, but allowing components to change */
html {
	box-sizing: border-box;
	--vh: 1vh;
}

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#app {
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #2c3e50;
	width: 100%;
	height: calc(var(--vh, 1vh) * 100);
}

input, textarea {
	border: 1px solid #ccc;
	border-radius: 4px;
	padding: 5px;
	outline: none;
}

button {
	background: #33a070;
	border: 1px solid #35495e;
	height: 35px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	cursor: pointer;
	outline: none;
}

button:hover {
	background: #41b883;
}

button:active {
	background: #278a5e;
}

button:disabled {
	background: #eee;
	color: #ccc;
	border-color: #ddd;
	cursor: not-allowed;
}

.full-height {
	height: 100%;
}

.scroll-border-radius-wrapper {
	border-radius: 10px;
	overflow: hidden;
}

* {
	scrollbar-color: #ccc white;
	scrollbar-width: thin;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: #eee;
}

::-webkit-scrollbar-thumb {
	background: #ccc;
	/*border-right: 1px solid white;*/
}
